section.whoWeHelp {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1015px;

    div.whoWeHelp-intro {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 38px;
            font-weight: normal;
            color: $black-ish;
            line-height: 55px;
            margin-bottom: 25px;
        }

        div.whoWeHelp-three-btns {
            width: 800px;
            display: flex;
            justify-content: space-between;

            button {
                width: 208px;
                height: 79px;
                background: none;
                color: $black-ish;
                font-size: 24px;
                border: none;
                text-align: center;
                margin: 51px 0 69px 0;
            }

            button:hover,
            button:active {
                padding-bottom: 0;
                border: 0.75px solid #3C3C3C;
                margin: 50.25px 0 68.25px 0;
            }
        }
    }

    nav.whoWeHelp-nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        div.list {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 22px;
                font-weight: lighter;
                text-align: center;
                max-width: 640px;
                margin-bottom: 66px;
                line-height: 30px;
            }

            div.all-collections {
                display: flex;
                flex-direction: column;
                width: 1345px;
                height: 80px;

                div {
                    width: 1345px;
                    display: flex;
                    justify-content: space-between;

                    h1 {
                        font-size: 26px;
                        line-height: 31px;
                        font-family: $font-alt;
                        font-weight: lighter;
                    }


                    small {
                        font-size: 18px;
                        line-height: 22px;
                        margin-left: 37px;
                        font-family: $font-alt;
                        font-weight: lighter;
                    }
                }

                p{
                    font-size: 18px;
                    line-height: 22px;
                    margin-top: 6px;
                    font-family: $font-alt;
                    font-weight: lighter;

                }
            }

        }
    }

    nav{
        margin-top: 63px;
     
        ul.pages{
            display: flex;
            justify-content: center;
            width: 50vw;
            
            li.page-number{
                margin: 0 5px 0 5px;
                width: 40px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                a{
                    text-decoration: none;
                    font-size: 18px;
                    
                }
                a:visited{
                    color: none;
                }
            }

            li.active{
                border:  1px solid $grey-ish;
            }
        }
    }
}