@import url('https://fonts.googleapis.com/css?family=Merriweather:200,300,400&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,700,800&display=swap&subset=latin-ext');
@import './reset/reset';
@import './settings/colors';
@import './settings/fonts';
@import './settings/header';
@import './settings/start';
@import './settings/yellowStatistics';
@import './settings/simpleSteps';
@import './settings/aboutUs';
@import './settings/whoWeHelp';
@import './settings/contactUs';
@import './settings/login';
@import './settings/giveaway';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: $font-base;
    color: $black-ish;
}
html{
    overflow-x: hidden;
}